<a href="https://colab.research.google.com/github/sabarish011201/LVAPython/blob/main/Python_Practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var_1 = -10
print(type(var_1))
print(var_1)

In [ ]:
octal_value = 0o3452
hexadecimal_value = 0xcaded

print(type(0o3452))
print(type(hexadecimal_value))
print("Octal value:", octal_value)
print("Hexadecimal value:", hexadecimal_value)

In [ ]:
var_1 = 10.10
print(type(var_1))
print('Floating Value is',var_1)

In [ ]:
comp_1 = 5+1j
print(type(comp_1))
print(comp_1)

In [ ]:
int_1, long_1, float_1, str_1 = 10, 0xabcd, 10.2, 'Sabarish'
print('Integer :',int_1)
print('Long :',long_1)
print('Float :',float_1)
print('String :',str_1)

In [ ]:
var_1 = 10.5
var_2 = 11.9
del var_1
#print(var_1) --throws error as it was deleted
print(var_2)

In [ ]:
str_1 = 'Sabarish'
print('Complete :',str_1)
print('First Ch :',str_1[0])
print('3-5 :',str_1[2:5])
print('From 3ch :',str_1[2:])
print('2times :', str_1*2)
print('Concat :','Hello '+str_1)

In [ ]:
lst_1 = ['apple',0,'banana',1,'cherry',2,'doku',3.5]
print('Complete List :',lst_1)
print('First Element :', lst_1[0])
print('2-3 :',lst_1[1:3])
print('From 3 :',lst_1[3:])
print('2times :', lst_1*2)
print('Concatenated :',lst_1+lst_1)

In [ ]:
tpl_1 = ('apple',0,'banana',1,'cherry',2,'doku',3.5)
print('Complete Tuple :',tpl_1)
print('First Element :',tpl_1[0])
print('2-3 :',tpl_1[1:3])
print('From 3 :',tpl_1[3:])
print('2times :', tpl_1*2)
print('Concatenated :',tpl_1+tpl_1)

In [ ]:
dict_1 = {'Sabarish':4299,'Chris':4273,'Preethi':4297,'JP':4284}
print('Sabarish :', dict_1["Sabarish"])

keys = ["Chris","JP"]
for i in keys:
  if i in dict_1:
    print(i,':',dict_1[i])

print('\nComplete Dict :',dict_1)
print('Keys :',dict_1.keys())
print('Values :',dict_1.values())

In [ ]:
set_1 = {}
set_1 = set()
print(type(set_1))

In [ ]:
lst_1 = [{'apple','banana'},{'cherry',0},{'doku',1}]
for i in lst_1:
  for j in i:
    print(j,end=", ")

In [ ]:
lst_1 = [('apple','banana'),('cherry',0),('doku',1)]
for i in lst_1:
  for j in i:
    print(j,end=", ")

In [ ]:
lst_1 = [{'apple':0,'banana':1},{'cherry':1},{'doku':2}]
for i in lst_1:
  for j in i:
    print(j,i.get(j))

In [ ]:
lst_1 = [('hello','welcome'),{'mark','meta'},('elon','tesla'),{'elon','spaceX'}]
for i in lst_1:
  print(i)
  for j in i:
    print(j)

In [ ]:
lst_1 = [{'Sabarish':4299,"Chris":4272},('elon','tesla'),{'elon','spaceX'}]
for i in lst_1:
  if isinstance(i,dict):
    for k,v in i.items():
      print(k,':',v)
  else:
    for j in i:
      print(j)

In [ ]:
x = 10
print('Float :',float(x))
print('String :',str(x))

tpl_1 = ('elon','tesla')
set_1 = {'elon','spaceX'}
lst_1 = list(tpl_1)
lst_2 = list(set_1)
print('List_1 :',lst_1)
print('List_2 :',lst_2)
print('Tuple :',tuple(lst_2))
print('Set :',set(lst_1))